body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 50px 220px 0 240px;
}

.banner-title {
    width: 700px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
}