body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* banner related styles */


header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding: 50px 220px 0 240px;
}

.banner-title {
    width: 700px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-description {
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 40px;
    color: white;
    font-size: 20px;
}

/* featured related section */

.featured-section {
    text-align: center;
    margin-top: 180px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.featured-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.flower-one img {
    background-color: rgba(167, 33, 98, 0.15);
    width: 460px;
    height: 540px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border: 1px solid rgba(167, 33, 98, 0.966);
}

.flower-two img {
    background: rgba(5, 151, 160, 0.15);
    width: 460px;
    height: 540px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border: 1px solid rgba(5, 152, 160, 0.938);
}

.flower-three img {
    background: rgba(71, 125, 17, 0.15);
    width: 460px;
    height: 540px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border: 1px solid rgba(71, 125, 17, 0.932);
}

.featured-items img {
    width: 310px;
    height: 420px;
    padding: 50px 70px 0 70px;
}

.featured-items p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

/* hot deal section related styles */

.hot-deal {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    align-items: center;
}

.hot-deal-feature {
    padding: 100px 200px 100px 420px;
    text-align: center;
}

.hot-deal img {
    margin: 100px 240px 100px 0px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-title span {
    color: #E55473;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    margin: 30px 0 30px 0;
}

.ins-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
    margin-bottom: 0;
}

.ins-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0 50px 0;
}

.images {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.images img {
    width: 340px;
    height: 400px;
    border-radius: 15px;
    border-left: 3px solid #E55473;
    box-shadow: 8px 8px 5px lightgray;
}